* {
    font: inherit;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

/* * root */

:root {
    --container-padding-inline: 15px;
    --container-max-width-medium: calc(1140px + (var(--container-padding-inline) * 2));
}

/* * visually-hidden */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: .0625rem;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* * header */

.header--fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    backdrop-filter: blur(12px);
    border-bottom: solid #DDDDDD 1px;
}

.main {
    margin-top: 80px;
}

/* * container */
.container {
    max-width: var(--container-max-width-medium);
    margin-inline: auto;
    padding-inline: var(--container-padding-inline);
}

.section__container {
    display: flex;
    max-height: 620px;
}

/* * section */

.section--result {
    background-color: #e3e2e2;
}


/* * nav */

.nav__container {
    display: flex;
    align-items: center;
}

.nav__start {
    display: flex;
    flex: 1;
    width: 100%;
}

.nav__center {
    display: flex;
}

.nav__end {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-left: 30px;
}

.nav__start--poisk {
    display: none;
    list-style: none;
}

.nav__list {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #4C5866;
}


/* * info */

.section__content {
    max-width: 445px;
    margin-block: 130px;
}

.section__title {
    font-size: 60px;
    line-height: 100%;
    color: #4c5866;
}

.section__discription {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 150%;
    color: #85859b;
}

.section__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 6px;
    border: none;
    border: 1px solid #7875fe;
    color: #7875fe;
    padding: 20px 50px;
    max-width: 255px;
    width: 100%;
}

.section__media {
    padding-left: 125px;
    padding-top: 60px;
}



/* * result */

.results {
    display: flex;
    gap: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.result {
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
    margin-inline: auto;
    border-top: solid #c0c0c0 2px;
    padding-top: 20px;
}

.result__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 30px;
}

.result__h2 {
    font-size: 18px;
    line-height: 150%;
    color: #666;
}

.result__paragraph {
    font-size: 18px;
    line-height: 150%;
    color: #85859b;
    font-weight: 400;
}

.results__info {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
}

.result__h1 {
    font-size: 40px;
    line-height: 100%;
    color: #666;
}

.result__info {
    display: flex;
    max-width: 350px;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.result__info--paragraph {
    font-size: 18px;
    line-height: 170%;
    color: #85859b;
}


/* * catalogs */

.catalogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-inline: auto;
    margin-top: 90px;
    margin-bottom: 90px;
}

.catalog {
    max-width: 255px;
}

.catalog__h1 {
    padding-top: 20px;
    font-size: 30px;
    color: #666;
}

.catalog__h2 {
    padding-top: 8px;
    font-size: 14px;
    color: #b5b5bd;
}

.catalog__paragraph {
    padding-top: 8px;
    font-size: 18px;
    line-height: 170%;
    color: #85859b;
}

.catalog__link {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-top: 20px;
    font-size: 20px;
    color: #7875fe;
    text-decoration: none;
}

/* * partners */

.partners {
    display: flex;
    gap: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* * product */

.product {
    display: flex;
    align-items: center;
}

.product__info {
    max-width: 350px;
}

.product__h1 {
    font-size: 40px;
    line-height: 100%;
    color: #666;
}

.product__paragraph {
    font-size: 18px;
    line-height: 170%;
    color: #85859b;
    padding-top: 8px;
    padding-bottom: 30px;
}

.product__image {
    padding-top: 90px;
}

/* * footer */

.footer__top {
    background-color: #4C5866;
}

.container--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    max-width: var(--container-max-width-medium);
    padding-inline: var(--container-padding-inline);
}

.footer__partners {
    display: flex;
    gap: 30px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.footer__bottom {
    display: flex;
    justify-content: center;
}

.footer__paragraph {
    font-size: 13px;
    text-transform: uppercase;
    color: #4c5866;
}

.footer__span {
    color: #bcbcbc;
}



/* * media */

@media (max-width: 900px) {
    .result {
        flex-direction: column;
    }

    .nav__center {
        border-top: solid #DDDDDD 1px;
        width: 100%;
        justify-content: center;
    }

    .nav__start {
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .nav__start--poisk {
        display: flex;
        gap: 30px;
    }

    .nav__end {
        display: none;
    }

    .nav__container {
        flex-direction: column;
        gap: 0px;
    }

    .section__media {
        padding-left: 30px;
        padding-top: 90px;
    }

    .results__info {
        flex-direction: column;
    }

    .result__info {
        max-width: none;
    }

    .partners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 1070px) {
    .catalogs {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 60px;
        grid-column-gap: 20px;
    }

    .catalog {
        max-width: 320px;
    }

    .catalog__image {
        max-width: 320px;
        width: 100%;
    }
}

@media (max-width: 760px) {
    .section__title {
        font-size: 50px;
    }

    .section__discription {
        font-size: 16px;
    }

    .result__h1 {
        font-size: 30px;
    }

    .product__h1 {
        font-size: 30px;
    }

    .section__container {
        max-height: 470px;
    }
}

@media (max-width: 576px) {
    .section__title {
        font-size: 38px;
    }

    .section__button {
        max-width: 200px;
    }

    .result__h2 {
        font-size: 16px;
    }

    .result__paragraph {
        font-size: 16px;
    }

    .result__h1 {
        font-size: 24px;
    }

    .result__info--paragraph {
        font-size: 16px;
    }

    .catalog__h1 {
        font-size: 24px;
    }

    .catalog__paragraph {
        font-size: 16px;
    }

    .product__h1 {
        font-size: 24px;
    }

    .product__paragraph {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .section__title {
        font-size: 30px;
    }

    .section__discription {
        font-size: 14px;
    }

}

@media (max-width: 600px) {
    .section__media--large {
        padding-top: 100px;
    }

    .section__content {
        margin-block: 50px
    }
}

@media (max-width: 535px) {
    .section__media--large {
        display: none;
    }

    .results {
        flex-direction: column;
    }

    .result {
        flex-direction: row;
    }

    .container--footer {
        flex-direction: column;
    }

    .footer__logo {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .footer__partners {
        border-top: solid #DDDDDD 1px;
        max-width: 290px;
        width: 100%;
        justify-content: center;
    }

    .nav__center {
        display: none;
    }

    .nav__start--poisk {
        display: none;
    }

    .nav__end {
        display: flex;
    }

    .nav__burger {
        display: flex;
    }

    .menu {
        display: none;
        /* Изначально скрываем меню */
        position: absolute;
        background-color: #DDDDDD;
        z-index: 999;
        padding: 15px;
        /* Чтобы меню было поверх других элементов */
        max-width: 550px;
        min-height: 516px;
        width: 100%;
    }

    .menu__links {
        display: flex;
        flex-direction: column;
        padding-top: 22px;
        gap: 50px;
    }

    .menu__link {
        font-size: 16px;
        text-decoration: none;
        color: #4C5866;
    }

    .nav__start {
        justify-content: center;
        border-bottom: solid #DDDDDD 1px;
    }

    .nav__group1 {
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        justify-content: space-between;
    }

    .catalogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .partners {
        display: flex;
        text-align: center;
    }

    .partners__image {
        max-width: none;
        height: auto;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    
     
       
    
}

@media (min-width: 861px) {
    .product__image--small {
        display: none;
    }


}

@media (min-width: 536px) {
    .nav__burger {
        display: none;
    }
}

@media (max-width: 860px) {
    .product {
        flex-direction: column-reverse;
    }

    .product__image--large {
        display: none;
    }

    .product__info {
        max-width: none;
        margin-block: 62px;
    }

    .product__image--small {
        max-width: 500px;
        width: 100%;
    }
}